<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <a class="navbar-brand" href="/">FlaskProject</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/crosssell">Cross Sell</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hrissues">HR Issues</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/restructures">Restructures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/applications">Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/enrollments">Enrollments</a>
      </li> -->
    </ul>

    <ul class="navbar-nav justify-content-end">
      <!-- Test for the session -->
      {% if session.logged_in %}
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>