{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <!-- <h1 class="display-3">About Loan Restructure</h1>
        <p class="lead">
            Loan Restructure in an app built by Strategy and Research. 
            It is an answer to the bank's initiative to help clients and loan officers to easily restructure loans
            at a reduced cost in this covid times.
        </p>         -->
        <h1 class="display-3">About Cross Sell</h1>
        <p class="lead">
            Cross Sell is an app built by Innovation Committee. 
            It is an answer to the bank's initiative to enable staff to easily cross sell bank 
            products and engage HR on Staff Welfare issues.
        </p>
    </div>
</div>
{% endblock %}