{% extends 'layout.html' %}

{% block title %}
    Cross Sells Dashboard
{% endblock %}

{% block body %}
<div>
    <a class="btn btn-success" href="/add_crosssell">Add Cross Sell</a>
    <p></p>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Created By</th>
            <!-- <th>PF Number</th> -->
            <!-- <th>Customer Account</th> -->
            <th>Product</th>
            <!-- <th>Crosssell Type</th> -->
            <th>Creation Date</th>
            <th></th>
            <th></th>
        </tr>
        {% for crosssell in crosssells %}
        <tr>
            <td>{{crosssell.id}}</td>
            <td>{{crosssell.name}}</td>
            <!-- <td>{{crosssell.pf_number}}</td> -->
            <!-- <td>{{crosssell.customer_account}}</td> -->
            <td>{{crosssell.product}}</td>
            <!-- <td>{{crosssell.crosssell_type}}</td> -->
            <td>{{crosssell.submission_date}}</td>
            <td><a href="edit_crosssell/{{crosssell.id}}" class="btn btn-info" pull-right>Edit</a></td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}