{% extends 'layout.html' %}

{% block title %}
    HR Issues Dashboard
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <!-- <h1 class="display-3">About Loan Restructure</h1>
        <p class="lead">
            Loan Restructure in an app built by Strategy and Research. 
            It is an answer to the bank's initiative to help clients and loan officers to easily restructure loans
            at a reduced cost in this covid times.
        </p>         -->
        <h1 class="display-3">HR Issues Dashboard</h1>
        <small>Welcome, {{session.username}}</small>
        <p class="lead">
            Cross Sell is an app built by Innovation Committee. 
            It is an answer to the bank's initiative to enable staff to easily cross sell bank 
            products and engage HR on Staff Welfare issues.
        </p>
    </div>
</div>

<div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Created By</th>
            <th>Topic</th>
            <th>Creation Date</th>
            <th></th>
            <th></th>
        </tr>
        {% for hrissue in hrissues %}
        <tr>
            <td>{{hrissue.id}}</td>
            <td>{{hrissue.name}}</td>
            <td>{{hrissue.topic}}</td>
            <td>{{hrissue.submission_date}}</td>
            <td><a href="edit_hrissue/{{hrissue.id}}" class="btn btn-info" pull-right>Edit</a></td>
            <td>
                <form action="{{url_for('delete_hrissue', id=hrissue.id)}}" method='post'>
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="DELETE" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}