{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Loan Restructure</h1>
        <p class="lead">Welcome to my Loan Restructure app. This application was build with python, bootstrap and sql</p>
        <p>
            <a class="btn btn-success btn-lg" href="#" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="/register" role="button">Sign up</a>
        </p>
    </div>
</div>
{% endblock %}